<header>
    <div class="container">
        <div class="row">
            <div class="col-12 text-right">
                <a href>ENTRAR</a>
            </div>
        </div>
    </div>
</header>

<section class="logo">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img width="100%" src="{{ _logoImg }}">
            </div>
        </div>
    </div>
</section>

<nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="open-menu">ABRIR MENU</a>
            </div>
        </div>
    </div>
</nav>

<section class="presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <b>O XXII Seminário de Pesquisa do CCSA/UFRN – Desigualdades Sociais e Cidadania no Brasil: o debate atual – </b> evidencia a preocupação
                do Centro de Ciências Sociais Aplicadas em consolidar um espaço para discussão e socialização do conhecimento
                produzido nas diferentes áreas das ciências sociais aplicadas (Direito, Economia, Administração, Serviço Social,
                Ciências Contábeis, Turismo e Biblioteconomia)
            </div>
            <div class="col-md-6">
                Tem como objetivo tornar acessível à comunidade universitária a produção científica existente no CCSA por meio da divulgação
                dos trabalhos apresentados; estimular a comunidade acadêmica do CCSA para a prática da pesquisa; contribuir para
                o desenvolvimento da pesquisa e da reflexão teórico-metodológica no campo das Ciências Sociais Aplicadas; abrir
                espaço para interlocução com outras áreas do conhecimento.
            </div>
        </div>
    </div>
</section>

<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>NOTÍCIAS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>NOTÍCIAS</h1>
            </div>
        </div>
    </div>
</section>
