@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* { font-family: 'Roboto', sans-serif; }
.text-right { text-align: right; }

body {
    transition: transform 0.3s;

    main {
        position: fixed;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        transition: transform 0.3s;
    }

    nav.menu-mobile {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -210px;
        width: 210px;
        background: #669900;
        margin: 0;
        display: block;
        position: fixed;
        padding-top: 40px;
        transition: transform 0.3s;

        a:first-child {
            padding-top: 0;
        }

        a {
            display: block;
            color: white !important;
            font-weight: 300;
            font-size: 14px;
            padding: 10px 20px;
            text-align: right;
            transition: transform 0.3s;
        }

        a:hover {
            transform: translate3d(-10px, 0, 0);
            font-weight: 500;
            transition: transform 0.6s, font-weight 0.6s;
        }
    }

    div.backdrop {
        display: none;
        z-index: 9;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.25);
    }

    div.overlay {
        display: none;
        z-index: 8;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

}

body.overlay {

    main {
        overflow: hidden;
    }

    div.overlay {
        display: block;
    }

}

body.backdrop {
    div.backdrop {
        display: block;
    }
}

body.menu {

    main,
    header,
    nav.menu-mobile
    {
        transition: transform 0.6s;
        transform: translate3d(210px, 0, 0);
    }
}

/** END / BODY DEFINITIONs */


section, nav {
    padding: 20px 0px;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08),
        0 -1px 0px rgba(0,0,0,0.008);
    background: white;
    z-index: 10;
    transition: transform 0.3s;

    a {
        display: inline-block;
        height: 14px;
        font-size: 11px;
        font-weight: 300;
        padding: 13px 0;
        margin: 0px;
    }

    a.login-container {
        position: relative;
        padding: 0;
        padding-top: 1px;

        div.login {
            overflow: hidden;
            position: absolute;
            right: 0px;
            top: 36px;
            height: 186px;
            width: 250px;
            z-index: 11;
            background: white;
            border: 1px solid rgb(220, 220, 220);
            box-shadow: 0 2px 4px rgba(0,0,0,0.08),
                0 -1px 0px rgba(0,0,0,0.008);
            padding: 10px;

            div.l {

                input,
                button {
                    display: block;
                    width: 100%;
                    padding: 10px 20px;
                    outline: 0;
                    border: 1px solid rgb(236, 236, 236);
                    margin-bottom: 10px;
                }

                button {
                    background: #669900;
                    color: white;
                }

            }

            div.forgot {
                margin-top: -12px;
                padding: 0;

                a {
                    font-size: 13px;
                }
            }

        }

    } /** end / .login-container */

} /** end / header */

section.logo {

    img.non-mobile {
        display: none;
    }

} /** end / section.logo */

nav.main {
    display: none;
} /** end / nav */

section {

    h1 {
        font-weight: 500;
        letter-spacing: 5px;
    }

}

section.downloads {

    nav {
        display: flex;
        flex-direction: column;
        padding: 0px 10px;

        a {
            display: block;
            background: rgb(249, 249, 249);
            border: 1px solid rgb(230, 230, 230);
            padding: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-radius: 2px;
            line-height: 9px;
            transition: box-shadow 0.15s;
            font-weight: 300;
            font-size: 12px;

            img {
                margin-right: 10px;
                margin-top: 0px;
            }
        }

        a:hover {
            box-shadow: 0 0px 4px rgba(0,0,0,0.09),
                0 0px 2px rgba(0,0,0,0.09);
            transition: box-shadow 0.3s;
        }

    }

} /** end / section.downloads */

section.register {
    background: #006699;

    h1 {
        color: white;
        font-weight: 700;

        span {
            margin-top: -20px;
            font-weight: 500;
            font-size: 18px;
        }
    }

    form {

        div.form-control {

            label {
                display: block;
                color: white;
                font-weight: 500;

            }

            input,
            select {
                display: block;
                background: white;
                width: 100%;
                padding: 10px 20px;
                outline: none;
                border: 1px solid rgb(230, 230, 230);
                box-shadow: 0 0px 4px rgba(0,0,0,0.09),
                    0 0px 2px rgba(0,0,0,0.09);
                border-radius: 3px;
            }

        }

    }

} /** end / .register */

/* Extra small */
@media only screen and (min-width : 480px) {

}

/* Small */
@media only screen and (min-width : 768px) {

    section, nav {
        margin: 40px 0px;
    }

    section.logo {
        margin: 40px 0px;

        img.non-mobile {
            display: block;
        }

        img.mobile {
            display: none;
        }

    } /** end / section.logo */

}

/* Medium */
@media only screen and (min-width : 992px) {

}

/* Large */
@media only screen and (min-width : 1200px) {

}







